.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  min-height: 740px;
  text-decoration: none;
  color: #fff;
}

/* Уважаемая Варвара, я прошу у вас помощи,
у меня как и у старшего студента не получается
настроить переход изображения с 1280рх на 1024рх на изображении
в секции cover, я испробовал различные варианты, наставник не отвечает давно,
я не знаю что делать, не знаю можно ли писать вам подобным образом,
и можно ли вам помогать студентам, и увидите ли вы это сообщение,
но если это возможно то прошу, подскажите как сделать, или дайте ссылку
на ресурс, где возможно узнать как исправить этот баг,
увидите ли вы это или нет, я благодарен вам за помощь и ваши наставления
в плане оптимизации кода и исправлении багов */
@media screen and (max-width: 1279px){
  .cover__link {
      min-height: 640px;
    }
  }

  @media screen and (max-width: 1023px){
  .cover__link {
      min-height: 480px;
    }
  }

  @media screen and (max-width: 767px){
  .cover__link {
      min-height: 200px;
    }
  }
