* {
  box-shadow: 0 0 2px rgb(0, 255, 242);
}

.page {
  font-family: "inter", Arial, sans-serif;
  background-color: #2A2C2F;
  color: #fff;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .page {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 320px;
  }

}
