.intro__item {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .intro__item {
    max-width: 288px;
  }

}
