.place {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 80px;
}

.place:first-child {
  padding-top: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    padding-top: 73px;
  }

}

@media screen and (max-width: 768px) {
  .place {
    padding-top: 50px;
  }

}
