.place__website-one-row {
  width: 456px;
  height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0 0 40px;
}

@media screen and (max-width: 1280px) {
  .place__website-one-row {
    margin: 30px 0 0 32px;
  }

}

@media screen and (max-width: 1024px) {
  .place__website-one-row {
    max-width: 352px;
    margin: 0 0 0 28px;
  }

}

@media screen and (max-width: 768px) {
  .place__website-one-row {
    max-width: 288px;
    margin: 32px 16px;
  }

}
